# Patterns to ignore when building packages.
# This supports shell glob matching, relative path matching, and
# negation (prefixed with !).

# Common
.DS_Store

# Common VCS directories
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/

# Common backup files
*.swp
*.bak
*.tmp
*~

# Editor specific files
.project
.idea/
*.tmproj
.vscode/
